ion-searchbar {
  --box-shadow: none !important;
}

.SearchBarContainer {
  margin-top: 1em;
  background: var(--ion-background-color);
}

ion-button.AddButton {
  border-radius: 5px;
  border-color: var(--ion-color-primary);
  --box-shadow: none;
  color: var(--ion-background-color);
  margin: auto;
  margin-right: 5px;
  background: var(--ion-color-primary);
}

.connectedAs {
  font-weight: 400;
}

.container {
  background: var(--ion-background-color);
}