.modal-document {
  width: 100vw;
  --offset-top: 0px;
  --offset-bottom: 0px;
  --background: #fff;
  font-family: 'Poppins', sans-serif;
}
@media screen and (min-width: 768px) {
  .modal-document {
    width: 50vw;
    margin: 0 auto;
  }
}

.qrCodeContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0.5em;
}

.signature-line {
  display: flex;
  background: var(--ion-color-success);
  padding: 0.4em;
  color: #242;
  border-radius: 3px;
  margin-left: 10px;
  width: 400px;
}
.signature-ok,
.signature-ko {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 5px;
  color: #fff;
  margin-right: 10px;
}
.signature-ok {
  background: #4b5;
}
.signature-ko {
  background: #b45;
}

.SignatureRequiredBtn {
  margin-bottom: 2em;
  height: 3em;
  margin-left: 10px;
  font-size: 1.1em;
  width: 340px;
  --border-radius: 0;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

.FloatingBottomLeft {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  height: 100%;
}

.ButtonArray {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  margin: 1em;
}

.TopLeftStrip {
  position: fixed;
  background: var(--ion-color-primary);
  box-shadow: 0px 1px 5px 1px rgb(0 0 0 / 41%);
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  z-index: 200;
  margin-left: 1em;
}

.ImageFrame {
  padding: 0.6em;
  margin-top: 2em;
  min-width: 8em;
  max-width: 16em;
}

.ImageFrame.main {
  padding: 0.6em;
  margin-top: 2em;
  min-width: 8em;
  max-width: 22em;
}

.Image {
  border-style: solid;
  border-width: 0.4em;
  border-color: #2c2c2c;
  padding: 0.4em;
  background: #e1e1e1;
  box-shadow: 2px 4px 3px rgb(0 0 0 / 53%), 0 1px 2px rgb(0 0 0 / 25%);
}

.DownloadButton {
  --box-shadow: none;
}

.Files {
  display: flex;
}
