.modal-document {
  width: 100%;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 768px) {
  .modal-document {
    left: 300px;
  }
}

h3 {
  color: #3A3A3A;
}

.inner {
  margin-left: 50px;
}

.upload-to-the-blockchain {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: var(--ion-text-color);
  font-family: 'Poppins', sans-serif;
}

.close {
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
}

.label {
  color: var(--ion-text-color);
  font-family: 'Poppins', sans-serif;
}

.ButtonArray {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  margin: 1em;
}

ion-button.AddButton {
  border-radius: 5px;
  border-color: var(--ion-color-primary);
  --box-shadow: none;
  color: var(--ion-background-color);
  margin: auto;
  margin-right: 5px;
  background: var(--ion-color-primary);
}

.custom-radio {
  color: var(--ion-text-color);
  font-family: 'Poppins', sans-serif;
}

.inner {
  width: 100vw;
  max-width: 800px;
}

.description {
  color: var(--ion-text-color);
}

.drop-area {
  margin-top: 5px;
  width: 40%;
  height: 10em;
  border: 1px dashed #ccc;
  margin-left: 20px;
  border-radius: 5px;
  color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
 
}
.drop-area.hide {
  /*display: none;*/
}

.drop-area span {
  z-index: 1;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img-upload {
  display: flex;
  flex-direction: column;
}

.drop-area textarea {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.document {
  margin: 20px 0px 20px 0px;
  width: 400px;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100px auto;
}
.document .left {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbb;
}
.document .right {
  grid-row: 1;
  grid-column: 2;
  color: #bbb;
}
