ion-chip.QRContainer {
  flex-direction: column;
  width: auto;
  height: auto;
  border-radius: 0.5em;
  padding: 0.3em;
  background: var(--ion-color-primary, --ion-color-primary) !important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

canvas.Image {
  border-radius: 0.3em;
}
