ion-button.ActionButton {
  border-style: solid;
  border-color: var(--ion-color-secondary);
  --box-shadow: none;
}

@media (prefers-color-scheme: dark) {
  ion-button.ActionButton {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  ion-button.ActionButton {
    color: black;
  }
}

.Avatar {
  width: 40%;
  height: 100%;
  background: #ffffff;
  max-width: 240px;
  border-radius: 50%;
  border: 5px solid transparent;
  box-shadow: 2px 2px 0px rgb(193 193 193);
}
