.main-title {
  font-weight: 600;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.BackgroundLogo {
  opacity: 0.05;
  z-index: 1;
  position: absolute;
  pointer-events: none;
  overflow-y: none;
}

ion-toolbar {
  margin-bottom: 20px;
}
