@font-face {
  font-family: fira;
  src: url('./fonts/FiraSans-Light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: fira;
  src: url('./fonts/FiraSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: fira;
  src: url('./fonts/FiraSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: fira;
  src: url('./fonts/FiraSans-Medium.ttf');
  font-weight: 700;
}

html,
body {
  font-family: fira;
  font-weight: 300;
}

.plt-ios ion-tab-bar {
  padding-top: var(--ion-safe-area-top);
}

.plt-ios ion-header ion-toolbar.noSafeAreaPaddingTop {
  padding-top: 0 !important;
}

.swiper-pagination-bullet-active {
  background: var(--ion-color-secondary);
}

.modal-wrapper.sc-ion-modal-md {
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  display: block;
}

.Waves {
  position: fixed;
  top: auto;
  width: 100%;
  pointer-events: none;
  z-index: 1;
}

.RedFill {
  background: var(--ion-color-light);
  width: 100%;
  transition: all 0.4s ease-out;

  &.show {
    height: 100vh;
  }
  &.hide {
    height: 0vh;
  }
}

.IdentityBG {
  --background: var(--ion-color-light);
}

.ProfileButton {
  --box-shadow: none;
}

.ProfilePanel {
  background: white;
  border-radius: 1em;
  margin-top: 1em;
  width: 100%;
  box-shadow: 0 5px 10px black;
  height: 100%;
  color: black;
  top: 100%;
  transition: all 0.6s ease-out;
  margin-top: 100vh;

  &.show {
    top: 200%;
    margin-top: 1em;
  }

  &.hide {
    top: 0%;
    margin-top: 200vh;
  }
}

ion-slide.IdentitySlide {
  height: 100%;
}

ion-slides.IdentityList {
  height: 100%;
}

.ArrowRight {
  margin: 1em;
  position: absolute;
  right: 0;
  bottom: 50%;
  border-top: 0.7em solid transparent;
  border-bottom: 0.7em solid transparent;
  border-left: 1em solid var(--ion-color-light);
}

.ArrowLeft {
  margin: 1em;
  position: absolute;
  left: 0;
  bottom: 50%;
  border-top: 0.7em solid transparent;
  border-bottom: 0.7em solid transparent;
  border-right: 1em solid var(--ion-color-light);
}

.ps5 {
  padding-left: 5px;
  padding-right: 5px;
}
.ps10 {
  padding-left: 5px;
  padding-right: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}

.button-native {
  font-weight: 500;
}

.ion-title {
  font-weight: 600;
}

ion-button {
  border-radius: 2px;
  text-transform: none;
}

ion-button.with-border {
  border-radius: 2px;
  border-width: 2px;
}

.react-pdf__Page__textContent {
  border-bottom: 0.1em solid black;
}

.UserInfo {
  display: contents;
}
