.container {
  display: flex;
  flex-direction: column;
}

ion-slides {
  height: 100%;
}

.login {
  /*background-color: #CCCCC4;*/
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
}


@media (prefers-color-scheme: dark) {
  ion-button.btn {
    --background: black;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  ion-button.btn {
    color: black;
  }
}

div.BottomBar {
  position: fixed;
  top: 0;
  width: 100%;
}

.BG {
  opacity: 0.1;
}

.login h2 {
  font-family: 'Poppins', sans-serif;
  color: #121212;
}

.LoadButtonDiv {
  /*text-align: left;*/
  padding: 10px 10px 10px 10px;
}

.LoadButtonDiv ion-button {
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.btn:hover {
  color: #fff;
  --background: #494949;
}

.btn:active {
  color: #121212;
  --background: #fff;
}



