ion-slides {
  height: 100%;
}

ion-button.ActionButton {
  border: solid 1px var(--ion-color-secondary);
  border-radius: 1em;
  --box-shadow: none;
}

@media (prefers-color-scheme: dark) {
  ion-button.ActionButton {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  ion-button.ActionButton {
    color: black;
  }
}

div.BottomBar {
  position: fixed;
  top: 0;
  width: 100%;
}

.BG {
  opacity: 0.1;
}

.LoadButtonDiv {
  padding-top: 5px;
  text-align: left;
}
