.public-store {
  background: #fff;
  height: 100vh;
  color: var(--ion-color-primary);
  margin-left: 20px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  
}

.title {
  width: 50%;
  margin: 0 auto;
  
}
